/* style.css */
body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3 {
  font-family: Chivo;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}

.banner {
  background-image: url(/img/background.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 180px 0;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}

.cards-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card-white {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.footer {
  background-color: #404042;
  color: white;
  text-align: center;
  padding: 30px 0;
  height: auto;
}

.container {
  width: 800px;
  margin: auto;
}

/* @media all and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
} */

/* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}